{{>header}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="images/ras.jpg"  style="width:100%">
  <h1>{{results.name}}</h1>
  <h1>{{results.usn}}</h1>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p><button>Contact</button></p>
</div>


<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">

        <div class="row">
          <div class="col-50">
            <form method="post" action="/cedit?id={{results.id}}">
              <input type="hidden" name="id" value="{{results.id}}">
            
            <label for="fname"><i class="fa fa-user"></i> company Name</label>
            <input type="text" name="name" value="{{results.name}}">
            <label for="usn"><i class="fa fa-user"></i>registration id</label>
            <input type="text" name="registration" value="{{results.registration}}">
            
            <label for="adr"><i class="fa fa-address-card-o"></i>year</label>
           <input type="text" name="year" value="{{results.year}}">
           
</div>            
           
              
  
