{{>header}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="images/ras.jpg"  style="width:100%">
  <h1>{{results.name}}</h1>
  <h2>{{results.usn}}</h2>
    <p>sambhram institute of technology</p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p><button>Contact</button></p>
</div>


<div class="row">
  <div class="col-75">
    <div class="container">

        <div class="row">
          <div class="col-50">
            
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <h1>{{results.name}}</h1>
            <label for="usn"><i class="fa fa-user"></i>usn</label>
            <h1>{{results.usn}}</h1>

            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <h1>{{results.email}}</h1>
            <label for="adr"><i class="fa fa-address-card-o"></i>Password</label>
           <h1>{{results.password}}</h1>
            
            <div class="row">
              <div class="col-50">
                <label for="state">phoneno.</label>
               <h1>{{results.phoneno}}</h1>
              </div>
              <div class="col-50">
                <label for="zip">date of birth</label>
               <h1>{{results.dob}}</h1>
              </div>
            </div>
          </div>

          <div class="col-50">
            
            
            <label for="cname">sex</label>
           <h1>{{results.sex}}</h1>
            <label for="ccnum">section</label>
           <h1>{{results.section}}</h1>
            <label for="expmonth">branch</label>
            <h1>{{results.branch}}</h1>
            <div class="row">
              <div class="col-50">
                <label for="expyear">year of passing</label>
                <h1>{{results.year_of_passing}}</h1>
              </div>
              <div class="col-50">
                <label for="cvv">backlog</label>
               <h1>{{results.backlog}}</h1>
                 <label for="cvv">cgpa</label>
               <h1>{{results.cgpa}}</h1>
                 <label for="cvv">10th percentage</label>
                <h1>{{results.percentage}}</h1>
                 <label for="cvv">12th percentage</label>
                <h1>{{results.mark}}</h1>
              </div>
            </div>
          </div>

        </div>
       
  
</div>